version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: airflow_postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: YourStrongPassword
      POSTGRES_DB: airflow_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: airflow_redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile   # custom image with dbt installed
    container_name: airflow_webserver
    depends_on:
      - postgres
      - redis
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:YourStrongPassword@postgres:5432/airflow_db
      AIRFLOW__SMTP__SMTP_HOST: smtp.gmail.com
      AIRFLOW__SMTP__SMTP_PORT: 587
      AIRFLOW__SMTP__SMTP_STARTTLS: "True"
      AIRFLOW__SMTP__SMTP_SSL: "False"
      AIRFLOW__SMTP__SMTP_USER: datadudesaadkhan@gmail.com
      AIRFLOW__SMTP__SMTP_PASSWORD: zrkcjvnunygvajkk   # Gmail App Password
      AIRFLOW__SMTP__SMTP_MAIL_FROM: datadudesaadkhan@gmail.com
    ports:
      - "8080:8080"
    volumes:
      - ./:/opt/airflow
    restart: unless-stopped
    command: webserver

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: airflow_scheduler
    depends_on:
      - airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:YourStrongPassword@postgres:5432/airflow_db
    volumes:
      - ./:/opt/airflow
    restart: unless-stopped
    command: scheduler

volumes:
  pgdata: